/* global.css */


/* Laptop L - 1440px */

/* Application */

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #333437;
  overflow-x: hidden;
}

#app {
  width: 100%;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.app-content {
  flex: 1;
  width: 100%;
  overflow-y: hidden;
}


/* Page Content */

main {
  width: 100%;
  overflow-y: hidden;
}

header {
  margin-top: 1.8vw;
  caret-color: transparent; /* Hides the caret */
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0 auto;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
  margin: 1.5vh auto;
}

p,
nav,
footer {
  caret-color: transparent; /* Hides the caret */
}


/* Standard Content Views */

.content-view main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}


/* Scrollbar */

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: url("@/assets/app/scrollbar/scrollbar_track.webp");
  background-size: 15px;
}

body::-webkit-scrollbar-thumb {
  background-image: url("@/assets/app/scrollbar/scrollbar_thumb.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15px;
}